body {
    background-color: rgb(250, 243, 235);
    color: #82898e;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin:auto
}

.page {
  text-align: center;
}

.about {
  text-align: center;
  font-size: 0.8em;
  margin-left: 6em;
  margin-right: 6em;
}

.links {
    float: right;
    margin-right: 2em;
}

.title {
    margin-top: 2em;
    color: #ec7a16;
}

.phrase {
    font-size: 2.2em;
    font-family:'Brush Script MT', cursive;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.quotem {
    width: 1.8em;
}
.message {
    font-size: 1.1em;
}

.mention {
    font-size: 0.9em;
}

fieldset {  
    border: none;
    text-align: center;
    font-size: 1em;
}

textarea {
    width: 93%;
}

textarea#phrase {
    margin-top: 0.4rem;
    font-size: 1.1em;
    font-family:'Brush Script MT', cursive;
}

@media only screen and (max-width: 768px){
.title {
    margin-top: 0.3em;
}

.phrase {
    font-size: 1.9em;    
}
.quotem {
    width: 1.4em;
}
.message, label, .nav {
    font-size: 0.9em;
}

.about {
  margin-left: 3em;
  margin-right: 3em;
  font-size: 1em;
}

.links {
    margin-right: 1em;
}   

.mention {
    font-size: 0.7em;
}

fieldset {  
    font-size: 0.9em;
}

input {
    margin-top: 0.2rem;
    font-size: 0.9em;
}
}