.nav {
    display: flex;
    justify-content: space-between;
    margin:auto
}

.page {
  text-align: center;
}

.about {
  text-align: center;
  font-size: 0.8em;
  margin-left: 6em;
  margin-right: 6em;
}

.links {
    float: right;
    margin-right: 2em;
}

.title {
    margin-top: 2em;
}

.message {
    font-size: 1.5em;
}

.mention {
    font-size: 0.9em;
}

fieldset {  
    border: none;
    text-align: center;
    font-size: 1.2em;
}

textarea {
    width: 93%;
}

input {
    margin-top: 0.4rem;
    font-size: 1.1em;
    font-family:'Brush Script MT', cursive;
}

@media only screen and (max-width: 768px){

.message, label, .nav {
    font-size: 0.9em;
}

.about {
  margin-left: 3em;
  margin-right: 3em;
  font-size: 1em;
}

.links {
    margin-right: 1em;
}   

.mention {
    font-size: 0.7em;
}

fieldset {  
    font-size: 0.9em;
}

input {
    margin-top: 0.2rem;
    font-size: 0.9em;
}
}